{{>facebook-extensions}}

<header>
  <form action="groupshare" method="get">
    <input type="search" name="search" value="{{search}}" placeholder="Search ABC News articles" />
  </form>
</header>

<div class="main">
  {{#collections}}
  <h2>{{title}}</h2>
  {{#if message}}<p>{{message}}</p>{{/if}}
  <ul>
    {{#documents}}
    <li>
      <a href="{{canonicalUrl}}" data-short-teaser-title="{{shortTeaserTitle}}" data-short-teaser-text-plain="{{shortTeaserTextPlain}}" data-image="{{imageUrl}}">
        <img src="{{imageProxyUrl}}" />
        {{teaserTitle}}
      </a>
    </li>
    {{/documents}}
  </ul>
  {{/collections}}
</div>

<script src="{{checksum '/js/index.js'}}" type="text/javascript"></script>
