{{>facebook-extensions}}

<header>
  <form action="groupshare" method="get">
    <input type="search" name="search" value="{{search}}" placeholder="Search for News" />
  </form>
</header>

<div class="main">
  {{#collections}}
  <h2>{{title}}</h2>
  {{#if message}}<p>{{message}}</p>{{/if}}
  <ul>
    {{#documents}}
    <li>
      <a href="{{canonicalUrl}}" data-short-teaser-title="{{shortTeaserTitle}}" data-short-teaser-text="{{shortTeaserTextPlain}}" data-image="{{imageUrl}}">
        <div>
          <img src="{{imageProxyUrl}}" />
          <p>{{teaserTitle}}</p>
        </div>
        <button><img src="/img/ic_send_lg_white@3x.png" width="16" height="16"/> Send</button>
      </a>
    </li>
    {{/documents}}
  </ul>
  {{/collections}}
</div>

<script src="{{checksum '/js/index.js'}}" type="text/javascript"></script>
